{% extends "base.html" %}

{% block title %}Rechercher{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Rechercher un membre</h2>
        <div class="card mb-4">
            <div class="card-body">
                <form method="POST" class="mb-4">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>

        {% if member %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ member.nom }} {{ member.prenoms }}</h5>
                    <p class="card-text">
                        <strong>Promotion:</strong> {{ member.promo }}<br>
                        <strong>Téléphone:</strong> {{ member.telephone }}<br>
                        <strong>Email:</strong> {{ member.email }}<br>
                        <strong>Ville de résidence:</strong> {{ member.ville_residence }}<br>
                        <strong>Pays de résidence:</strong> {{ member.pays_residence }}
                    </p>
                    <a href="{{ url_for('edit', id=member.id) }}" class="btn btn-secondary">Modifier les informations</a>
                </div>
            </div>
        {% elif request.method == 'POST' %}
            <div class="alert alert-warning">Aucun membre trouvé avec cet email.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
